@{
    ViewData["Title"] = "Read Result";
}

@ViewData["QR"]

<div class="mx-auto p-0" style="max-width:200px;">
    <a href="/home/index" class="btn btn-lg btn-secondary btn-block rounded-pill" oncontextmenu="return false">戻る</a>
</div>